.footer {
    border-top: 1px solid#e5e5e5;
}
.copiryte {
    padding: 25px 0;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
}
.copiryte a {
    text-decoration: none;
    color: #f38181;
}
.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

}
form input {
    height: 43px;
    width: 230px;
    border: 1px solid #cccccc;
    border-right: none;
}
