.service-section__title {
    text-align: center;
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 90px;
}
.service-section__title::after {
    content: '';
    width: 60px;
    height: 3px;
    display: block;
    background-color: #f38181;
    margin: 0 auto;
    margin-top: 42px;
}
.service-section__title span {
    display: block;
    font-family: 'Kaushan Script';
    font-size: 24px;
    text-transform: none;
    font-weight: 400;
}