.team-icon {
    width: 57px;
    height: 57px;
    background-color: #fce38a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 9px;
    margin-left: 2px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.team-icon:hover {
    background-color: #f38181;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.team-icon:hover svg {
    fill: #ffffff;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.wrapp-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
.wrapp-icon svg {
    display: inline-block;
    width: 25px;
    height: 25px;
    fill: #f38181;
}